body {
    font-family: Helvetica!important, sans-serif;
}

.navbar-light .navbar-brand {
    color: #17a2b8;
    font-size: 40px;
    padding: initial;
}

.lead {
    color: #A5929C;
}

.navbar-nav {
    text-transform: uppercase;
}


.company-brand {
    font-weight: bold;
}

.bg-primary {
    background-color: #541234!important;
    color: white;
}

.bg-light {
    background-color: #ffffff!important;
}
.services-icon {
        font-size: 50px;
        color: rgb(163, 64, 65);
        margin-bottom: 15px;
    }

.feature-header {
        color: #212529;
    }

.services-icons {
    background-color: ##f4f4f4!important;
    padding-top: 100px!important;
    padding-bottom: 100px!important;
}


.pricing {
    background-color: #E6AC55;
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}

.tier-header {
    color: #17a2b8!important;
    font-weight: bold;
}

.contact-section {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #f4f4f4;
}


.company-brand-name {
    color: #17a2b8;
    font-weight: bold;
    font-size: 40px;
}

.contact-details {
    color: #A5929C;
    font-weight: lighter;
}