html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica!important, sans-serif;
}

/*----------Navigation----------*/

.navbar-light .navbar-brand {
    color: #17a2b8;
    font-size: 40px;
    padding: initial;
}

.navbar-nav {
    text-transform: uppercase;
}

.company-brand {
    font-weight: bold;
}

/*----------Header----------*/

.header-par {
    color: #A5929C;
    font-weight: lighter;
    padding-bottom: 20px;
}

.mb-5 {
    margin-bottom: 0!important;
}

.bg-primary {
    background-color: #541234!important;
    color: white;
}

/*----------Services----------*/

.bg-light {
    background-color: #ffffff!important;
}
.services-icon {
        font-size: 50px;
        color: #CA054D;
        margin-bottom: 15px;
    }

.services-header {
        color: #212529;
    }

.services-par {
    color: #6c757d;
}

.services-icons {
    background-color: #f4f4f4!important;
    padding-top: 100px!important;
    padding-bottom: 100px!important;
}

/*----------Pricing----------*/

.pricing {
    background-color: #E6AC55;
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}

.tier-header {
    color: #17a2b8!important;
    font-size: x-large;
}

/*----------Contact----------*/

.contact-section {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #f4f4f4;
}


.company-brand-name {
    color: #17a2b8;
    font-size: 40px;
}

.contact-details {
    color: #A5929C;
    font-weight: lighter;
}
